<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="width: 100%; border-collapse: collapse; background-color: #bbeeff;" border="0">
    <tbody>
    <tr>
        <td style="width: 50%-1000px/2;">&nbsp;</td>
        <td style="width: 1000px;">
            <h3><em>Full Liqa Bar</em></h3>
        </td>
        <td style="width: 50%-1000px/2;">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td style="width: 50%-1000px/2%;">&nbsp;</td>
        <td style="width: 1000px;">
            <table style="border-collapse: collapse; width: 100%;" border="0">
                <tbody>
                <tr>
                    <td style="width: 33.3333%; text-align: center;">
                        <a href="/">Home</a>
                    </td>
                    <td style="width: 33.3333%; text-align: center;">
                        <a href="/myshelf/">My Shelf</a>
                    </td>
                    <td style="width: 33.3333%; text-align: center;">
                        <a href="/recipes/">Recipes</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width: 50%-1000px/2;">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </td>
    </tr>
    </tbody>
</table>
<table style="width: 100%; border-collapse: collapse; border-style: none;" border="0">
    <tbody>
    <tr>
        <td style="width: 50%-1000px/2; background-color: #bbeeff;">&nbsp;</td>
        <td style="width: 1000px;">

            {% block content %}
            {% endblock %}

        </td>
        <td style="width: 50%-1000px/2; background-color: #bbeeff;">&nbsp;</td>
    </tr>
    </tbody>
</table>
</body>
</html>
