{% extends 'base.html' %}

{% block content %}

<table style="width: 90%;">

{% for rec in recipes %}
<tr>
    <td style="width: 5%;">
        &nbsp;
    </td>
    <td style="width: 75%;">
        {{rec.1 | safe}} <br>&nbsp;
    </td>
    <td style="width: 20%;">
        <button style="width: 80%;">Dodaj do statystyk</button>
        <button onclick="location.href='/recipes/{{ rec.0 }}/'" style="width: 80%;" >Szczegóły</button>
        <div style="width: 80%;"> {{rec.2}} </div>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}
