{% extends 'base.html' %}

{% block content %}

<table style="width: 100%;">
{% for alc in alc_group_by_three %}
    <tr>
    <td style="width: 33.3333%; text-align: center;">
        <strong>{{alc.0.0}}</strong><br>{{alc.0.1}}<br>&nbsp;
    </td>
    <td style="width: 33.3333%; text-align: center;">
        <strong>{{alc.1.0}}</strong><br>{{alc.1.1}}<br>&nbsp;
    </td>
    <td style="width: 33.3333%; text-align: center;">
        <strong>{{alc.2.0}}</strong><br>{{alc.2.1}}<br>&nbsp;
    </td>
    </tr>
{% endfor %}
</table>

{% endblock %}
