{% extends 'base.html' %}

{% block content %}

<table style="width: 100%;">
<tr>
    <th style="text-align: right;">
        <a href="/myshelf/sort_name">Sort by name</a>
    </th>
    <th style="text-align: left;"colspan="3">
        <a href="/myshelf/sort_qty">Sort by quantity</a>
    </th>
</tr>
{% for bottle in bottle_list %}
<tr>
    <td style="width: 50%; text-align: right;">
        <strong>{{bottle.0}}</strong>
    </td>
    <td style="width: 50px; text-align: left;">
        {{bottle.1}}
    </td>
    <td style="width: 40px; text-align: left;">
        <a href="edit/{{bottle.0}}">[Edit]</a>
    </td>
    <td style="text-align: left;">
        <form name="delete_bottle" method="post">
            {% csrf_token %}
        <input type="submit" value="Delete"/>
        </form>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}

