{% extends 'base.html' %}

{% block content %}

<table style="width: 100%;">
    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" name="button_add">Add bottle</button>
    </form>
<tr>
    <th style="text-align: right;">
        <form method="get">
            <input type="submit" name="sort" value="Sort by name"/>
        </form>
    </th>
    <th style="width: 50px; text-align: left;">
        <form method="get">
            <input type="submit" name="sort" value="Sort by quantity"/>
        </form>
    </th>
    <th style="text-align: left;" colspan="3">
        <form method="get">
            <input type="submit" name="sort" value="Default sort"/>
        </form>
    </th>
</tr>
{% for bottle in bottle_list %}
<tr>
    <td style="width: 50%; text-align: right;">
        <strong>{{bottle.0}}</strong>
    </td>
    <td style="width: 50px; text-align: left;">
        {{bottle.1}}
    </td>
    <td style="width: 40px; text-align: left;">
        <a href="/myshelf/edit/{{bottle.0}}">[Edit]</a>
    </td>
    <td style="text-align: left;">
        <form method="post">
            {% csrf_token %}
        <button type="submit" name="button_delete" value="{{ bottle.0 }}">Delete</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}

